@font-face{font-family:'Campton';src:url('../fonts/Campton-BlackItalic.woff2') format('woff2'),url('../fonts/Campton-BlackItalic.woff') format('woff');font-weight:900;font-style:italic;font-display:swap;}
@font-face{font-family:'Campton Book';src:url('../fonts/Campton-Book.woff2') format('woff2'),url('../fonts/Campton-Book.woff') format('woff');font-weight:normal;font-style:normal;font-display:swap;}
@font-face{font-family:'Campton';src:url('../fonts/Campton-Black.woff2') format('woff2'),url('../fonts/Campton-Black.woff') format('woff');font-weight:900;font-style:normal;font-display:swap;}
@font-face{font-family:'Campton Book';src:url('../fonts/Campton-BookItalic.woff2') format('woff2'),url('../fonts/Campton-BookItalic.woff') format('woff');font-weight:normal;font-style:italic;font-display:swap;}
@font-face{font-family:'Campton Book';src:url('../fonts/Campton-BoldItalic.woff2') format('woff2'),url('../fonts/Campton-BoldItalic.woff') format('woff');font-weight:bold;font-style:italic;font-display:swap;}
@font-face{font-family:'Campton Book';src:url('../fonts/Campton-Bold.woff2') format('woff2'),url('../fonts/Campton-Bold.woff') format('woff');font-weight:bold;font-style:normal;font-display:swap;}
@font-face{font-family:'Campton';src:url('../fonts/Campton-SemiBoldItalic.woff2') format('woff2'),url('../fonts/Campton-SemiBoldItalic.woff') format('woff');font-weight:600;font-style:italic;font-display:swap;}
@font-face{font-family:'Campton';src:url('../fonts/Campton-ThinItalic.woff2') format('woff2'),url('../fonts/Campton-ThinItalic.woff') format('woff');font-weight:100;font-style:italic;font-display:swap;}
@font-face{font-family:'Campton';src:url('../fonts/Campton-ExtraLightItalic.woff2') format('woff2'),url('../fonts/Campton-ExtraLightItalic.woff') format('woff');font-weight:200;font-style:italic;font-display:swap;}
@font-face{font-family:'Campton';src:url('../fonts/Campton-ExtraBoldItalic.woff2') format('woff2'),url('../fonts/Campton-ExtraBoldItalic.woff') format('woff');font-weight:bold;font-style:italic;font-display:swap;}
@font-face{font-family:'Campton';src:url('../fonts/Campton-ExtraBold.woff2') format('woff2'),url('../fonts/Campton-ExtraBold.woff') format('woff');font-weight:bold;font-style:normal;font-display:swap;}
@font-face{font-family:'Campton';src:url('../fonts/Campton-Light.woff2') format('woff2'),url('../fonts/Campton-Light.woff') format('woff');font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:'Campton';src:url('../fonts/Campton-SemiBold.woff2') format('woff2'),url('../fonts/Campton-SemiBold.woff') format('woff');font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:'Campton';src:url('../fonts/Campton-LightItalic.woff2') format('woff2'),url('../fonts/Campton-LightItalic.woff') format('woff');font-weight:300;font-style:italic;font-display:swap;}
@font-face{font-family:'Campton';src:url('../fonts/Campton-ExtraLight.woff2') format('woff2'),url('../fonts/Campton-ExtraLight.woff') format('woff');font-weight:200;font-style:normal;font-display:swap;}
@font-face{font-family:'Campton';src:url('../fonts/Campton-MediumItalic.woff2') format('woff2'),url('../fonts/Campton-MediumItalic.woff') format('woff');font-weight:500;font-style:italic;font-display:swap;}
@font-face{font-family:'Campton';src:url('../fonts/Campton-Medium.woff2') format('woff2'),url('../fonts/Campton-Medium.woff') format('woff');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:'Campton';src:url('../fonts/Campton-Thin.woff2') format('woff2'),url('../fonts/Campton-Thin.woff') format('woff');font-weight:100;font-style:normal;font-display:swap;}
*{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;outline:none;}
body{color:#000;line-height:1.5;font-size:16px;font-family:'Campton';}
ul,li{list-style:none;}
a{text-decoration:none;font-family:'Campton';}
a:hover,a:focus{color:#0d8744;outline:none;}
img{max-width:100%;vertical-align:middle;}
h1,h2,h3,h4,h5,h6{font-weight:600;font-family:'Campton';}
h1{font-size:60px;line-height:60px;}
h2{font-size:40px;line-height:40px;margin-bottom:30px;}
p{font-weight:500;margin-bottom:15px;font-size:16px;}
.clearfix:after{content:"";display:block;clear:both;}
.common-transition{-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
.common-spacing{padding:50px 0;}
.common-spacing-top{padding-top:50px;}
.common-spacing-bottom{padding-bottom:50px;}
.text-center{text-align:center;}
.container{max-width:1400px;margin:0 auto;padding:0 15px;}
.row{display:-webkit-box;display:-ms-flexbox;display:flex;flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-15px;margin-right:-15px;}
.colum{padding:0 15px;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;}
.common-btn{background-color:#0d8744;padding:10px 15px;border-radius:6px;color:#fff;font-weight:600;text-transform:uppercase;border:2px solid transparent;}
a.common-btn:hover{background-color:transparent;border-color:#0d8744;}

/* Header section css Start */
.header-section{padding:10px 0;background-color:#fff;position:relative;}
.header-section.fixed{position:fixed;left:0;right:0;top:0;width:100%;z-index:9999;box-shadow:0 0 4px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.24);}
.header-section .row{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.header-section .row .logo-colum{width:25%;}
.header-section .row .navigation-colum{width:50%;text-align:center;}
.header-section .row .right{width:25%;}
.header-section .logo{display:block;max-width:300px;}
.header-section nav.menu ul li{display:inline-block;vertical-align:middle;position:relative;}
.header-section nav.menu ul li a{font-size:16px;color:#000;padding:10px;font-weight:600;text-transform:uppercase;display:block;text-align:left;}
.header-section nav.menu ul li a.active,.header-section nav.menu ul li a:hover{color:#0d8744;}
.header-section .row .colum.right{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:right;-ms-flex-pack:right;justify-content:right;}
.header-section .row .colum.right .contact-btn{margin-right:20px;font-size:14px;}
nav.menu .dropdown-arrow-btn{display:none;position:absolute;right:20px;top:13px;font-size:14px;}

/* Header section css End */
nav.menu li > ul{margin:0;border-top-width:3px;border-top-style:solid;border-top-color:#0b8643;display:block;position:absolute;width:230px;background:rgba(255,255,255,1);padding:0;box-shadow:0px 12px 30px -2px rgba(0,0,0,0.1);-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;z-index:1;pointer-events:none;visibility:hidden;opacity:0;top:100%;left:0;-webkit-transform:translateY(15px);-ms-transform:translateY(15px);transform:translateY(15px);}
nav.menu li:hover > ul{opacity:1;pointer-events:auto;visibility:visible;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}

/*Menu Close Icon css Start*/
.m-menu-btn{cursor:pointer;display:none;height:34px;width:30px;position:relative;margin-left:20px;}
.m-menu-btn span{display:block;position:absolute;height:4px;width:100%;background:#3b3b3b;border-radius:9px;opacity:1;left:0;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out;}
.m-menu-btn span:nth-child(1){top:5px;}
.m-menu-btn span:nth-child(2),.m-menu-btn span:nth-child(3){top:15px;}
.m-menu-btn span:nth-child(4){top:24px;}
.m-menu-btn.m-menu-btn-ext span:nth-child(1){top:15px;width:0%;left:50%;}
.m-menu-btn.m-menu-btn-ext span:nth-child(2){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
.m-menu-btn.m-menu-btn-ext span:nth-child(3){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
.m-menu-btn.m-menu-btn-ext span:nth-child(4){top:18px;width:0%;left:50%;}

/*Menu Close Icon css End*/

/* Hero section css Start */
.hero-section .hero-img{height:500px;}
.hero-section .hero-img > img{height:100%;width:100%;object-fit:cover;}
.hero-section .hero-content{position:absolute;width:90%;max-width:1400px;padding:0 15px;text-align:center;left:50%;top:50%;-moz-transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%);-o-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);}
.hero-section .hero-content h1{font-size:60px;color:#fff;font-weight:600;line-height:60px;margin-bottom:15px;}
.hero-section .hero-content p{font-size:20px;color:#fff;}
.slick-initialized .slick-slide,.slick-list{position:relative;}
.hero-section .slick-dots{bottom:25px;}
.hero-section .slick-dots li button:before{font-size:40px;color:#fff;opacity:1;}
.hero-section .slick-dots li.slick-active button:before{opacity:1;color:#0d8744;}
.hero-section .slick-next{right:50px;background-image:url(../image/arrow-next.png);background-repeat:no-repeat;width:23px;height:44px;}
.hero-section .slick-prev{left:50px;background-image:url(../image/arrow-prew.png);background-repeat:no-repeat;width:23px;height:44px;z-index:1;}
.slick-prev::before,.slick-next::before{display:none;}

/* Hero section css End */

/* Welcome section css Start */
.welcome-section .row .colum{width:50%;}
.welcome-section .row .colum span{text-transform:uppercase;display:block;margin-bottom:18px;font-weight:500;}
.welcome-section .left-img-gallery{position:relative;}
.welcome-section .left-img-gallery .left-img-gallery-box{width:350px;height:257px;overflow:hidden;border:8px solid #fff;box-shadow:0px 10px 30px 10px rgba(0,0,0,0.09);-webkit-box-shadow:0px 10px 30px 10px rgba(0,0,0,0.09);-moz-box-shadow:0px 10px 30px 10px rgba(0,0,0,0.09);}
.welcome-section .left-img-gallery .left-img-gallery-box img{height:100%;object-fit:cover;width:100%;}
.welcome-section .left-img-gallery .left-img-gallery-box.two{-moz-transform:translateX(60px) translateY(-60px);-webkit-transform:translateX(60px) translateY(-60px);-o-transform:translateX(60px) translateY(-60px);-ms-transform:translateX(60px) translateY(-60px);transform:translateX(60px) translateY(-60px);}
.welcome-section .left-img-gallery .left-img-gallery-box.three{position:absolute;right:50px;top:43%;left:inherit;-moz-transform:translateY(-50%);-webkit-transform:translateY(-50%);-o-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
.welcome-section .bottom-gallery{margin-top:30px;}
.welcome-section .bottom-gallery .colum{width:25%;}
.welcome-section .bottom-gallery .colum figure{overflow:hidden;height:200px;position:relative;}
.welcome-section .bottom-gallery .colum figure::after{content:"";position:absolute;left:50%;top:50%;width:30px;height:30px;background:url(../image/plush-icon.png) no-repeat;margin:-15px 0 0 -15px;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;-moz-transform:scale(0);-webkit-transform:scale(0);-o-transform:scale(0);-ms-transform:scale(0);transform:scale(0);}
.welcome-section .bottom-gallery .colum figure::before{content:"";position:absolute;width:100%;height:100%;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,0.2);-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.8s ease-in-out;-ms-transition:all 0.8s ease-in-out;-o-transition:all 0.8s ease-in-out;transition:all 0.8s ease-in-out;-moz-transform:scale(0);-webkit-transform:scale(0);-o-transform:scale(0);-ms-transform:scale(0);transform:scale(0);}
.welcome-section .bottom-gallery .colum:hover figure::after,.welcome-section .bottom-gallery .colum:hover figure::before{-moz-transform:scale(1);-webkit-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
.welcome-section .bottom-gallery .colum figure img{width:100%;height:100%;object-fit:cover;}
.welcome-section .bottom-gallery .colum .gallery-title{font-size:20px;color:#000;font-weight:500;display:block;margin-top:10px;}
.welcome-section .bottom-gallery .colum:hover .gallery-title{color:#0d8744;}

/* Welcome section css End */

/* Our Activities section css Start */
.our-activities-section{background-color:#f4f4f4;}
.our-activities-section .colum{width:33.333%;}
.our-activities-section .colum .activities-card{background-color:#fff;}
.our-activities-section .activities-content-block{padding:40px 40px 50px 40px;}
.our-activities-section .activities-content-block h3{color:#000;font-size:25px;line-height:30px;margin-bottom:15px;}
.our-activities-section .activities-content-block p{color:#000;margin:0;}
.our-activities-section .activities-image-block{position:relative;}
.our-activities-section .activities-image-block .img-item{overflow:hidden;}
.our-activities-section .colum:hover .activities-image-block .img-item > img{-moz-transform:scale(1.2);-webkit-transform:scale(1.2);-o-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2);}
.our-activities-section .activities-image-block .img-item > img{width:100%;}
.our-activities-section .activities-image-block .block-arrow{background-color:#0d8744;border-radius:50%;position:absolute;top:-30px;display:flex;justify-content:center;align-items:center;left:40px;width:60px;height:60px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}

/* Our Activities section css End */

/* Sag Semen Stations section css Start */
.sag-semen-stations-section .colum{width:25%;}
.sag-semen-stations-section .colum .location-img{width:240px;height:240px;margin:0 auto 15px;background-color:#f3f9f5;border-radius:50%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.sag-semen-stations-section .colum p{color:#000;}
.sag-semen-stations-section .colum strong{color:#000;font-size:26px;display:block;margin-top:10px;font-weight:600;}
.sag-semen-stations-section .colum:hover strong{color:#0d8744;}

/* Sag Semen Stations section css End */

/* Testimonials section css Start */
.testimonials-slider{max-width:1000px;margin:0 auto;padding:0 50px;}
.testimonials-slider p{margin-bottom:25px;}
.testimonials-slider span{font-size:20px;font-weight:500;}
.testimonials-slider .slick-next{right:0px;background-image:url(../image/arrow-next-black.png);background-repeat:no-repeat;width:10px;height:19px;}
.testimonials-slider .slick-prev{left:0px;background-image:url(../image/arrow-prew-black.png);background-repeat:no-repeat;width:10px;height:19px;z-index:1;}

/* Testimonials section css End */

/* Footer section css Start */
.footer-section{border-top:1px solid #eee;padding:25px 0;}
.footer-section .row{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.footer-section .row .colum.follow-us-block{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.footer-section span{font-size:20px;font-weight:600;display:block;margin-right:10px;}
.footer-section .follow-us-link li{display:inline-block;vertical-align:middle;width:30px;height:30px;}
.footer-section .follow-us-link li a{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:30px;height:30px;border-radius:50%;border:1px solid #0d8744;color:#0d8744;font-size:14px;}
.footer-section .follow-us-link li a:hover{background-color:#0d8744;color:#fff;}
.footer-section .follow-us-link li:not(:last-child){margin-right:5px;}
.footer-nav li{display:inline-block;position:relative;line-height:24px;}
.footer-nav li:not(:last-child){padding-right:10px;}
.footer-nav li:not(:first-child){padding-left:10px;}
.footer-nav li:not(:last-child)::before{content:"";width:2px;background-color:#000;position:absolute;right:-3px;top:5px;bottom:5px;}
.footer-nav li a{color:#000;font-weight:500;}
.footer-nav li a:hover{color:#0d8744;}
.footer-section p{margin:0;}
.stickyelement{position:fixed;z-index:99999;top:50%;right:0;text-align:center;display:flex;align-items:center;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition:all 1s ease 0s;-moz-transition:all 1s ease 0s;transition:all 1s ease 0s;}
.stickyelement .stickyelement-btn{-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);transform:rotate(-90deg);display:block;width:170px;height:53px;line-height:1.2;-webkit-transform-origin:138px 20px 0;-moz-transform-origin:138px 20px 0;transform-origin:138px 20px 0;box-shadow:-3px 0 6px rgba(0,0,0,.16);}
.stickyelement .stickyelement-btn > span{background-color:#0d8744;color:#fff;font-weight:500;cursor:pointer;padding:18px 10px 10px 10px;font-size:18px;height:53px;display:block;}
.stickyelement .stickyelement-detail{position:absolute;background-color:#fff;height:170px;right:-100%;z-index:-1;top:-12px;display:flex;align-items:center;flex-direction:column;justify-content:center;box-shadow:rgba(149,157,165,0.2) 0px 8px 24px;-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-ms-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out;}
.stickyelement .stickyelement-detail strong{display:block;font-weight:600;margin-bottom:10px;}
.stickyelement .stickyelement-detail a{color:#0d8744;font-weight:500;}
.stickyelement.slide-open .stickyelement-detail{right:52px;width:183px;}

/* Footer section css End */

/* Gallery page css Start */
.page-tabs-section .content-tabs-block{background-color:#f3f9f5;padding-top:50px;margin-bottom:50px;}
.page-tabs-section .resp-tabs-list{display:inline-block;margin-top:25px;}
.page-tabs-section .resp-tabs-container .resp-tab-content{border-color:transparent;padding:0;}
.page-tabs-section .resp-tabs-list li{font-size:20px;padding:15px 50px!important;border:none!important;border-top-left-radius:10px;border-top-right-radius:10px;font-weight:600;color:#000;float:none;}
.page-tabs-section .resp-tabs-list li.resp-tab-active{color:#0d8744;}
.page-tabs-section .row .colum{width:50%;margin-bottom:30px;}
.page-tabs-section .row .colum .colum-item{overflow:hidden;height:380px;}
.page-tabs-section .row .colum .colum-item img{height:100%;object-fit:cover;width:100%;}
.page-tabs-section .row .colum .colum-item.video-block{position:relative;padding-bottom:56.25%;}
.page-tabs-section .row .colum .colum-item.video-block iframe,.page-tabs-section .row .colum .colum-item.video-block video{position:absolute;top:0;left:0;width:100%;height:100%;}

/* Gallery page css End */

/* Careers Opportunities page css Start */
.careers-opportunities-section h2{font-size:30px;margin-bottom:15px;}
.careers-opportunities-section .row .colum{width:33.333%;margin:15px 0;}
.careers-opportunities-section .row .colum h3{font-size:22px;margin-bottom:25px;}

/* Careers Opportunities page css End */

/* Activities page css Start */
.activities-section .activities-top-content p{margin-bottom:50px;}
.activities-section .grid{display:-ms-grid;display:grid;-ms-grid-columns:minmax(250px,20%) auto;grid-template-columns:minmax(250px,20%) auto;padding:15px;background-color:#f3f9f5;}
.activities-section .grid .left-tabs-colum{margin-right:15px;}
.activities-section .grid .left-tabs-colum .resp-tabs-list li{float:none;display:block;margin:0 0 5px 0!important;background-color:#fff!important;border:none!important;font-size:18px;border-radius:6px;}
.activities-section .grid .left-tabs-colum .resp-tabs-list li.resp-tab-active{background-color:#0d8744!important;color:#fff;}
.activities-section .grid .right-tabs-colum .resp-tabs-container{background-color:transparent;border:none!important;}
.activities-section .grid .right-tabs-colum .resp-tabs-container .resp-tab-content{border:none!important;}
.activities-section .grid .right-tabs-colum .resp-tabs-container .resp-tab-content strong{display:block;margin-bottom:15px;font-size:20px;}
.page-table-list tr td{font-size:14px;border-bottom:1px solid #eee;vertical-align:top;font-weight:500;}
.site-common-table.training-table tr th,.site-common-table.training-table tr td{font-size:14px;}

/* Activities page css End */

/* Bull Details page css Start */
.bull-details-section .bull-info-top ul{margin-bottom:20px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.bull-details-section .bull-info-top ul li{color:#0d8744;font-weight:600;font-size:20px;margin:10px;}
.bull-details-section .bull-info-top ul li a{color:#000;font-weight:500;}
.bull-details-section .bull-info-top ul li a:hover{color:#0d8744;}
.bull-details-section .bull-info-top ul li a.back-btn{background-color:#ebebeb;padding:7px 15px;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.bull-details-section .bull-info-top ul li a.back-btn::before{content:"\e865";font-family:'custom-icons';display:inline-block;font-size:14px;vertical-align:middle;margin-right:5px;}
.bull-details-section .bull-info-top ul li a.back-btn:hover{background-color:#0d8744;color:#fff;}
.bull-details-section .bull-info-main .bull-pic{position:relative;padding-bottom:56.25%;}
.bull-details-section .bull-info-main .bull-pic > img{width:100%;height:100%;object-fit:cover;position:absolute;}
.bull-details-section .bull-info-main .bull-pic iframe{position:absolute;width:100%;height:100%;}
.bull-details-section .bull-info-main .site-common-table{margin-bottom:50px;}
.site-common-table.advanced-filters-table tr th{position:relative;}
.site-common-table.advanced-filters-table tr th:after{content:"";position:absolute;top:15px;right:13px;background:url(../image/short-icon.png) no-repeat;width:10px;height:14px;}
.site-common-table.advanced-filters-table tr th,.site-common-table.advanced-filters-table tr td{cursor:pointer;}
.bull-details-section .download-share-btn{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.bull-details-section .download-share-btn .download-btn > a{padding:10px 15px;color:#fff;background-color:#4eb052;font-weight:500;margin-right:15px;}
.bull-details-section .download-share-btn .download-btn > a:hover{background-color:#0d8744;}
.bull-details-section .download-share-btn .share-btn{font-weight:500;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.bull-details-section .download-share-btn .share-btn img{margin-left:10px;}
.related-bulls-section .related-bull-slider{margin-left:-15px;margin-right:-15px;}
.related-bulls-section .related-bull-slider .related-bull-item{padding:0 15px;}
.related-bulls-section .related-bull-slider .related-bull-item .related-bull-img{height:166px;width:100%;margin-bottom:10px;position:relative;overflow:hidden;}
.related-bulls-section .related-bull-slider .related-bull-item:hover .related-bull-img > img{-moz-transform:scale(1.1);-webkit-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);}
.related-bulls-section .related-bull-slider .related-bull-item .related-bull-img > img{object-fit:cover;height:100%;width:100%;}
.related-bulls-section .related-bull-slider .related-bull-item span{color:#000;font-weight:500;}
.related-bulls-section .related-bull-slider .related-bull-item:hover span{color:#0d8744;}

/* Bull Details page css End */

/* Sire Directory page css start */
.sire-directory-conntent{margin-bottom:30px;}
.sire-directory-section #searchbox{padding:14px 20px;border:1px solid #ccc;border-radius:24px;font-size:18px;width:600px;text-align:center;margin-bottom:30px;}
.sire-directory-section .advanced-filters{margin-bottom:30px;}
.sire-directory-section .filters-wrp{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.sire-directory-section .filters-wrp .filters-inner{padding:15px;}
.sire-directory-section .filters-wrp .filters-inner label{font-weight:500;font-size:18px;margin-right:5px;}
.sire-directory-section .filters-wrp .filters-inner select{padding:10px 40px 10px 20px;border-radius:24px;font-size:16px;border:1px solid #ccc;color:#333;-webkit-appearance:none;-moz-appearance:none;appearance:none;background-image:url(../image/down-arrow.png);background-repeat:no-repeat;background-position:right 15px center;background-size:14px;}
.sire-directory-section .filters-wrp .filters-inner #apply_btn{background-color:#0d8744;color:#fff;padding:10px 20px;border-radius:24px;border:none;font-size:16px;margin-right:10px;cursor:pointer;}
.sire-directory-section .filters-wrp .filters-inner #clear_filters_btn{background-color:#b92a3e;color:#fff;padding:10px 20px;border-radius:24px;border:none;font-size:16px;cursor:pointer;}
.table-responsive{width:100%;margin-bottom:15px;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar;}

/* Sire Directory page css End */

/* Page common Table design css start */
.site-common-table{border-collapse:collapse;width:100%;}
.site-common-table tr th{background-color:#0d8744;padding:8px 12px;color:#fff;font-weight:500;border:1px solid #0d8744;text-align:left;}
.site-common-table tr td{border:1px solid #0d8744;text-align:left;padding:8px 12px;color:#000;font-weight:500;}
.site-common-table tr:nth-child(even){background-color:#f3f9f5;}
.site-common-table a{color:#0d8744;text-decoration:none;}
.site-common-table a:hover{text-decoration:underline;}
.table-info{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin-top:15px;}
.table-info .table-showing-entries p{margin:0;}
.table-info .table-pagination ul{display:-webkit-box;display:-ms-flexbox;display:flex;}
.table-info .table-pagination ul li a{padding:5px 12px;color:#000;font-weight:500;display:block;line-height:24px;}
.table-info .table-pagination ul li a.active{background-color:#0d8744;color:#fff;}
.table-info .table-pagination ul li a.active:hover{color:#fff;}
.table-info .table-pagination ul li a:hover{color:#0d8744;}
.table-info .table-pagination ul li:not(:last-child){margin-right:10px;}

/* Page common Table design css End */

/* About page css Start */
.about-section .about-grid{display:-ms-grid;display:grid;-ms-grid-columns:minmax(250px,17%) auto;grid-template-columns:minmax(250px,17%) auto;position:relative;}
.about-section .about-grid .about-left-colum{margin-right:20px;}
.about-section .about-grid .about-left-colum ul{position:sticky;top:150px;}
.about-section .about-grid .about-left-colum ul li{margin-bottom:5px;}
.about-section .about-grid .about-left-colum ul li a{display:block;padding:7px 15px;background-color:#f3f9f5;font-size:18px;color:#000;font-weight:500;}
.left-inner-item .row .colum{width:50%;}
.left-inner-item .about-img{border:6px solid #fff;box-shadow:rgba(149,157,165,0.2) 0px 8px 24px;}
.left-inner-item .about-img img{width:100%;}
.left-inner-item  ul{margin:0 0 20px 20px;}
.left-inner-item  ul li{font-size:18px;color:#000;list-style:disc;font-weight:500;}
.certification-awards-item .row{margin-top:20px;margin-bottom:20px;}
.certification-awards-item .row .certfication-colum{width:30%;}
.certification-awards-item .row .certfication-content{width:70%;}
.certification-awards-item .row:nth-child(2n+0){-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;}
.certfication-img{border:6px solid #fff;box-shadow:rgba(149,157,165,0.2) 0px 8px 24px;}
.distributors-item .distributors-btn-row{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-bottom:40px;}
.distributors-item .distributors-btn-row .fint-local-distributor-btn a{padding:10px 40px;background-color:#0d8744;color:#fff;border:1px solid #0d8744;display:block;font-weight:600;text-transform:uppercase;}
.distributors-item .distributors-btn-row .fint-local-distributor-btn select{padding:12px 40px;color:#000;border:1px solid #0d8744;display:block;font-weight:600;font-size:16px;-webkit-appearance:none;-moz-appearance:none;appearance:none;background-image:url(../image/down-arrow.png);background-repeat:no-repeat;background-position:right 15px center;background-size:14px;height:100%;}

/* About page css End */

/* Contact Us css */
.intro-banner-section{width:100%;position:relative;background-image:url('../image/hero-img-1.jpg');height:340px;display:flex;align-items:center;justify-content:center;background-repeat:no-repeat;background-size:cover;}
.intro-banner-section::before{content:"";position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgb(0,0,0,0.5);}
.intro-banner-section .banner-heading{position:relative;text-align:center;}
.intro-banner-section h1{color:#fff;margin-bottom:0;}
.contact-form-section{background-color:#fff;}
.contact-form-section .colum{width:40%;}
.contact-form-section .colum:last-child{padding-left:25px;}
.contact-form-section .colum:first-child{width:60%;}
.main-form label{width:calc(100% / 3);margin-right:20px;}
.main-form label:last-child{margin-right:0;}
.main-form .form-fileds{display:flex;margin-bottom:20px;}
.main-form .input-fileds{width:100%;padding:15px;border:1px solid #dedede;border-radius:7px;}
.main-form .input-fileds::placeholder{font-weight:500;line-height:1.5;font-size:16px;font-family:'Campton';color:#525564;}
.main-form .message-input{width:100%;height:223px;padding:15px;border:1px solid #dedede;border-radius:7px;margin-bottom:20px;}
.main-form .message-input::placeholder{font-weight:500;line-height:1.5;font-size:16px;font-family:'Campton';color:#525564;}
.submit-btn .common-btn{line-height:1.5;font-size:16px;font-family:'Campton';width:145px;cursor:pointer;}
.submit-btn .common-btn:hover{background-color:transparent;border-color:#0d8744;color:#0d8744;}
.contact-addre h4{font-weight:700;font-size:18px;padding-bottom:15px;position:relative;}
.contact-addre h4::before{position:absolute;content:"";bottom:0;width:100%;height:1px;background-color:#e5e5e5;}
.contact-addre span{font-weight:700;font-size:18px;color:#525564;text-transform:uppercase;margin-left:20px;margin-top:25px;display:inline-block;position:relative;}
.contact-addre p{font-size:16px;color:#525564;margin-left:20px;position:relative;}
.contact-addre a{font-size:16px;color:#525564;}
.contact-addre span::before{position:absolute;content:'';background-image:url(../image/location.png);width:14px;height:18px;left:-25px;top:6px;}
.contact-addre a:hover{color:#0d8744;}
.contact-social h4{font-weight:700;font-size:18px;padding-bottom:15px;position:relative;}
.contact-social h4::before{position:absolute;content:"";bottom:0;width:100%;height:1px;background-color:#e5e5e5;}
.social-icons{margin-top:25px;}
.social-icons li{display:inline-block;margin-right:15px;}
.social-icons a i{margin:0;font-size:20px;color:#363636;}
.social-icons a i:hover{color:#0d8744;}
.social-icons a i::before{margin:0;}
.google-map iframe{width:100%;height:500px;}
.map-section-wapper{position:relative;}
.appointment-form{padding-left:15px;position:absolute;top:0;left:50%;bottom:0;width:1400px;transform:translateX(-50%);padding-right:15px;}
.appointment-form-box{position:absolute;background-color:#0b8643;top:0;left:0;bottom:7px;width:360px;padding:30px 20px;}
.appointment-form-box h4{font-weight:600;font-size:20px;color:#fff;text-transform:uppercase;}
.appointment-form-box p{font-size:16px;color:#fff;margin-bottom:10px;}
.appointment-form-box .form-fileds input{width:100%;background-color:transparent;border:none;border-bottom:1px solid #fff;padding:5px 0 15px;margin-bottom:15px;color:#fff;font-family:'Campton';font-weight:500;font-size:16px;}
.appointment-form-box .form-fileds input::placeholder{font-weight:500;line-height:1.5;font-size:16px;font-family:'Campton';color:#fff;}
.appointment-form-box .form-fileds select{width:100%;background-color:transparent;border:none;border-bottom:1px solid #fff;padding:15px 0;margin-bottom:15px;color:#fff;font-family:'Campton';font-weight:500;font-size:16px;}
.appointment-form-box .form-fileds select option{color:#000;}
.appointment-form-box input.book-now-btn{background-color:#fff;padding:10px 30px;color:#0d8744;font-weight:700;text-transform:uppercase;border:2px solid transparent;font-family:'Campton';font-size:16px;border-radius:25px;margin-top:25px;cursor:pointer;}
.appointment-form-box input.book-now-btn:hover{background-color:#0d8744;color:#fff;border-color:#fff;}
.news-articals-section .news-articals-inner .row{margin-bottom:50px;}
.news-articals-section .news-articals-inner .colum{width:40%;}
.news-articals-section .news-articals-inner .colum:last-child{width:60%;}
.news-articals-section .news-articals-inner .common-btn{border-radius:0;padding:10px 30px;margin-bottom:25px;display:inline-block;}
.news-articals-section .news-articals-inner .artical-date-comment{margin-bottom:20px;display:flex;}
.news-articals-section .news-articals-inner h2{margin-bottom:20px;font-size:30px;line-height:30px;}
.news-articals-section .news-articals-inner p{font-size:16px;font-family:'Campton';}
.news-articals-section .news-articals-inner .artical-date-comment span{font-size:16px;font-family:'Campton';font-weight:600;margin-right:20px;display:inline-block;margin-left:10px;}
.news-articals-section .news-articals-inner .artical-date-comment p{display:flex;align-items:center;margin-bottom:0;}
.news-articals-section .news-articals-inner .artical-date-comment p img{width:16px;height:auto;}
.artical-img{position:relative;}
.artical-img::before{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background:#000;opacity:0;visibility:hidden;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
.artical-overlay{position:absolute;top:0;left:0;right:0;bottom:0;display:flex;justify-content:center;align-items:center;z-index:0;opacity:0;visibility:hidden;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
a.right-arrow{position:relative;display:flex;width:75px;height:75px;justify-content:center;align-items:center;background-color:#0b8643;border-radius:50%;border:2px solid #fff;}
.artical-img:hover::before{opacity:0.5;visibility:visible;}
.artical-img:hover .artical-overlay{opacity:1;visibility:visible;}